NODE_ENV=development

# Used by docker-compose, prisma, nest
POSTGRES_PASSWORD=3EuH-ImP03jyBOt9Z0xsUQEa8fnOVpVLuxJ9aE85
DATABASE_URL=postgres://postgres:3EuH-ImP03jyBOt9Z0xsUQEa8fnOVpVLuxJ9aE85@db/postgres
